body{
    margin: 0;
    padding: 0;
    min-width: 520px;
    min-height: 256px;
    font-family: 'Roboto', sans-serif;
}


#current_test{
    width: 340px;
    margin: auto;
}

#done_test {
    width: 340px;
    margin: auto;
}

div.block {
    background-color: powderblue;
    padding: 2px;
    width: 324px;
    border-radius: 5px;
    box-shadow: -5px 5px 13px lightgray;
    margin: 10px;
}

.checkbox_class {
    padding: inherit;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    outline: inherit;
    cursor: pointer;
}

.text_area {
    height: 20px;
    vertical-align: middle;
    border: powderblue ;
    outline-color: teal;
    width: 240px;
    font-family: 'Roboto', sans-serif;

}

.edit_button {
    height: 26px;
    width: 26px;
    border: none;
    vertical-align: middle;
    background-color: transparent;
    background-image: url(https://www.materialui.co/materialIcons/action/done_black_2048x2048.png);
    background-size: cover;
    outline: inherit;
    cursor: pointer;
}

.delete_button {
    height: 26px;
    width: 26px;
    border: none;
    vertical-align: middle;
    background-color: transparent;
    background-image: url(https://static.thenounproject.com/png/2995127-200.png);
    background-size: cover;
    outline: inherit;
    cursor: pointer;
}

.adding_button {
    border-color: inherit;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background-color: inherit;
    background-image: url(https://img.icons8.com/pastel-glyph/2x/plus.png);
    background-size: cover;
    outline: inherit;
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    cursor: pointer;
}
