body{
    margin: 0;
    padding: 0;
    min-width: 520px;
    min-height: 256px;
}

div.to-dos {
    align-self: center;
    width: 35wh;
    height: 20vh;
}

div.current{
    background-color: #f0ffff;
}
