body{
    margin: 0;
    padding: 0;
    min-width: 520px;
    min-height: 256px;
}

div.to-dos {
    align-self: center;
    width: 35wh;
    height: 20vh;
}

div.current{

}

div.block {
    background-color: powderblue;
    padding: 2px;
    width: 260px;
    border-radius: 5px
}

.move_button{
    height: 20px;
    width: 15px;
    border: none;
    vertical-align: middle;
    background-color: transparent;
    background-image: url(https://cdn.iconscout.com/icon/free/png-256/drag-indicator-1779315-1512591.png);
    background-size: cover;
}

.checkbox_class {
    padding: inherit;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.text_class {
    height: 20px;
    vertical-align: middle;
    background-color: inherit;
    box-shadow: none;
    outline: inherit;
}

.edit_button {
    height: 26px;
    width: 26px;
    border: none;
    vertical-align: middle;
    background-color: transparent;
    background-image: url(https://www.materialui.co/materialIcons/action/done_black_2048x2048.png);
    background-size: cover;


}

.delete_button {
    height: 26px;
    width: 26px;
    border: none;
    vertical-align: middle;
    background-color: transparent;
    background-image: url(https://img.icons8.com/cotton/2x/delete-sign--v2.png);
    background-size: cover;

}

.adding_button {
    border-color: white;
    border-radius: 50%;
}
